@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
.wrapper {
  display: flex; 
  flex-direction: column;  
  align-items: center;  
 /* border-radius: 10px; */
 padding: 20px;
 background-image: url(https://bogatyr.club/uploads/posts/2023-03/1679113607_bogatyr-club-p-kukhnya-nochyu-fon-foni-pinterest-61.jpg);
 background-attachment: fixed;
 background-size: 100%;
}

.cards {
  display: flex; 
  justify-content: center;
   flex-wrap: wrap; 
  width: 100%;
  
}

.title {
  color: black; 
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  font-weight: none;
  margin: 10px; 
  display: flex; 
  justify-content: center;
}

.oneCard {
margin: 20px; 
border-style: none;
}

.header {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  font-weight: none;
  display: flex; 
  justify-content: center;
}

.btnHard {
  display: flex;  
  justify-content:flex-start;
  /* position: relative; */
  left: 45px; 
  width: 100px;
 height: 100px; 
 
}