@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

.wrapper {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  backdrop-filter: blur(10px);
  background-color: rgb(47, 46, 46);
  
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  padding:  0px;
 z-index: 100;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
}

.nameAva {
  display: flex;
}

.name {
  transform: scaleY(0.6);
  letter-spacing: 10px;
  font-size: 55px;
}

.left {
  width: 240px;
}

.right {
  width: 100px;
}

.left, .right {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.nickName {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.ava {
  margin-right: 15px;
  transition: .5s;
  cursor: pointer;
  margin: 30px;
}

.ava::before {
  background: #ffee10;
  transition: .5s;
  transform: scale(1.9);
  z-index: -1;
}

.ava:hover::before {
  transform: scale(1.5);
  box-shadow: 0 0 50px #68ff10;
}

.ava:hover {
  color: #ffee10;
  box-shadow: 0 0 50px #68ff10;
  text-shadow: 0 0 50px #68ff10;
}

.exit {
  transition: .5s;
}

.exit::before {
  background: #ff1010;
  transition: .5s;
  transform: scale(1.9);
  z-index: -1;
}

.exit:hover::before {
  transform: scale(1.5);
  box-shadow: 0 0 50px #ff1010;
}

.exit:hover {
  color: #ff1010;
  box-shadow: 0 0 50px #ff1010;
  text-shadow: 0 0 50px #ff1010;
}
