@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

.head, .foot {
  animation: flicker 1.5s infinite alternate;
  color: #1d1d1d;
  z-index: 210;
}

.head {
  font-size: 160px;   
  z-index: 210;
  margin-top: 150px;
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

    color: #fff;
    text-shadow:
    0 0 4px white,
    0 0 11px white,
    0 0 19px white,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
  }
  20%, 24%, 55% {        
    text-shadow: none;
    color: #242424;
    }    
  }
  
.foot {
 font-size: 1.8rem;
 z-index: 210;
}
.container {
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #000000;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.head, .foot {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  z-index: 210;
}